:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --cor-de-fundo: #FFFFFF;
}

body{
    background-color: #FFFFFF;
}
header{
    background-color: rgb(68, 141, 53);
    color:white
    
}

.logo{width: 8%;}